body {
    background-color: #fffbc8;
}

.text-align1{
    text-align: left;
}

.title-text{
    color: #000;
    font-family: Bradley Hand, cursive;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-align2{
    text-align: right;
}

.text{
    color: #000;
font-family: Bradley Hand, cursive;
font-size: 30px;
font-weight: 400;
line-height: normal;
}

.image-align{
    text-align: right;
}

.smile-image{
    width: 280px;
}

.arrow-image{
    width: 30px;
    transform: rotate(50deg);
}