body {
    background-color: #fffbc8;
    font-family: Bradley Hand, cursive;
}

.text-align1{
    text-align: left;
    margin-right: 20px; 
}

.title-text{
    color: #000;
    font-size: 45px;
    font-weight: 400;
}

.text-align2{
    text-align: right;
    margin-right: 20px; 
}

.text{
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

.image-align{
    text-align: right;
    margin-right: 20px; 
}

.smile-image{
    width: 280px;
}

.arrow-image{
    width: 30px;
    transform: rotate(50deg);
}

.position{
    position: relative;
    top: 30px;
    left:60px;
}