body{
    background-color: #e4c4f5;
    overflow-x: hidden;
    margin-left:-5px;
}


.image1{ display: block; width:400px; border-radius: 5px;}

.image2{ display: block; width:400px; border-radius: 5px;}

.pigeon{
    width:10%;
}

/*text position*/
.textposition{
    position: relative;
    top: 00%;
    left:15%;
    margin-left:0px;
}
.textposition2{
    position: relative;
    top: 0%;
    left:25%;
    margin-left:0px;
}

/* image position */
.imageposition{
    position: relative;
    top: 5%;
    left:10%;
    margin-left:0px;
    margin-right:0px;
}
.imageposition2{
    position: relative;
    top: -50%;
    left:50%;
    margin-left:0px;
    margin-right:0px;
}

/* small pigeions position */
.position{
    position: relative;
    left:20%;
    margin-left:0px;
    margin-right:0px;
}
.position1{
    position: relative;
    left:3%;
    margin-left:0px;
    margin-right:0px;
}
.position2{
    position: relative;
    left:50%;
    margin-left:0px;
    margin-right:0px;
}
.position3{
    position: relative;
    left:85%;
    margin-left:0px;
    margin-right:0px;
}

/* text information */
.text{
    text-align: left;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* back to home button */
.home-image{
    width: 7%;
}

.homeposition{
    position: relative;
    top: 0px;
    left: 0px;
    margin-right:2%;
    margin-left:2%;
}


@media screen and (max-width: 800px) {
    body{
        margin-left:-5px;
    }

    /* back to home button image size */
    .home-image{
    width: 13%;
    }

    /* text information */
.text{
    text-align: left;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* image size */
.image1{ display: block; width:230px; border-radius: 5px;}

.image2{ display: block; width:230px; border-radius: 5px;}

.pigeon{
    width:20%;
}

}
