body{
    background-color: #e4c4f5;
    overflow-x: hidden;
}

.image1{ display: block; width:400px; border-radius: 5px;}

.image2{ display: block; width:400px; border-radius: 5px;}

.pigeon{
    width:10%;
}

/*text position*/
.textposition{
    position: relative;
    top: 5px;
    left:340px;
    margin-left:0px;
}
.textposition2{
    position: relative;
    top: 150px;
    left:540px;
    margin-left:0px;
}

/* image position */
.imageposition{
    position: relative;
    top: 45px;
    left:140px;
    margin-left:0px;
    margin-right:0px;
}
.imageposition2{
    position: relative;
    top: -460px;
    left:740px;
    margin-left:0px;
    margin-right:0px;
}

/* small pigeions position */
.position{
    position: relative;
    top: -1010px;
    left:240px;
    margin-left:0px;
    margin-right:0px;
}
.position1{
    position: relative;
    top: -500px;
    left:80px;
    margin-left:0px;
    margin-right:0px;
}
.position2{
    position: relative;
    top: -800px;
    left:720px;
    margin-left:0px;
    margin-right:0px;
}
.position3{
    position: relative;
    top: -1200px;
    left:1150px;
    margin-left:0px;
    margin-right:0px;
}

/* text information */
.text{
    text-align: left;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    position: relative;
    top: -900px;
}

/* back to home button */
.home-image{
    width: 7%;
}

.homeposition{
    position: relative;
    top: 0px;
    left: 0px;
    margin-right:10px;
    margin-left:15px;
}


@media screen and (max-width: 800px) {
    body{
        /* overflow-x: hidden; */
    }

    /* back to home button image size */
    .home-image{
    width: 13%;
    }

}
