
body {
    background-color: #fffbc8;
}

.title {
    position: relative;
    top: 40px;
    position:fixed;
    top:0; left:0; right:0;
    background-color: #fbd67f;
    padding: 1rem 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.title-text{
    margin:0;
    text-align: center;
    color: #000;
    font-family: 'dekko';
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* removing underline and blue for links */
.link {
    Text-decoration: none;
    color:rgb(0, 0, 0)
}

.title-image{
    width:13%;
}

.image1{ 
    width:25%;
    border-radius: 5%;
}

.images :hover {
    transform: scale(110%);
    transition: 1s;
} 

.img-gallery{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    top: 180px;
}

.text {
    text-align: center;
    margin:0;
    text-align: center;
    color: #000;
    font-family: 'dekko';
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    position: relative;
    top: 180px;
    
}

/* <text overlay hover trial>
.overlay {
    position: absolute;
    transition: all 0.3s ease;
    opacity:0;
    background-color: #eee;
    height:100%;
    width:0;
    top:0;
    left:0;
}

.img-gallery:hover .overlay {
    opacity:1;
}

.subtext {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;;
} */

@media screen and (max-width: 800px) {
    .title {
        position:fixed;
        top:0; left:0; right:0;
        background-color: #fbd67f;
        padding: 1rem 30px;
        display: flex;
        justify-content: space-between;
        z-index: 500;
    }

    .title-text{
        margin:0;
        text-align: center;
        color: #000;
        font-family: 'dekko';
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }

    .title-image{
        width:25%;
    }

    .image1{
        width:70%;
        border-radius: 5%;
    }

    .img-gallery{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        position: relative;
        top: 200px;
    }

    .text {
        text-align: center;
        margin:0;
        text-align: center;
        color: #000;
        font-family: 'dekko';
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        position: relative;
        top: 180px;
        
    }
}