body {
    background-color: #ceffce;
}

.container {
    display: grid;
    grid-template-rows: 100px auto auto auto auto auto auto auto auto auto auto auto auto 100px;
    grid-template-columns: 100px auto auto auto auto auto 100px;
    grid-gap: 5px; /* Adjust the gap if needed */
}


/* placement of each images in the grid */
.item1 {
    grid-row: 1;
    grid-column: 2; 
}

.item2 {
    grid-row: 2;
    grid-column: 5;
}

.item3 {
    grid-row: 5;
    grid-column: 2;
}

.item4 {
    grid-row: 7;
    grid-column: 5; 
}

.item5 {
    grid-row: 13/14;
    grid-column: 2; 
}

.item6 {
    grid-row: 16/17 ;
    grid-column: 5; 
}

.item7 {
    grid-row: 22/23;
    grid-column: 3;
}

/* placement of each texts in the grid */
.text1 {
    grid-row: 4;
    grid-column: 2; 
}
.text2 {
    grid-row: 6;
    grid-column: 5; 
}
.text3 {
    grid-row: 12;
    grid-column: 2; 
}
.text4 {
    grid-row: 13;
    grid-column: 3; 
}
.text5 {
    grid-row: 16;
    grid-column: 3; 
}
.text6 {
    grid-row: 17;
    grid-column: 6; 
}


/* img size */
.image{
    width: 60%;
}
.image2{
    width: 100%;
}


/* text */
.text{
    text-align: left;
    color: #000;
    font-family: 'dekko';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2{
    text-align: right;
    color:#000;
    font-family: 'creepster';
    font-size:30px;
    font-weight: 400;
    line-height: normal;
}

/* back to home button */
.home-image{
    width: 40%;
}

.homeposition{
    grid-row: 24/25;
    grid-column: 2/3; 
}


@media screen and (max-width: 800px) {
    body {
        /* overflow-x: hidden; */
    }

    /* back to home button image size */
    .home-image{
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-rows: 10px auto auto auto auto auto auto auto auto auto auto auto auto 10px;
        grid-template-columns: 10px auto auto auto auto auto 10px;
        grid-gap: 5px; /* Adjust the gap if needed */
    }
    
    /* img size */
    .image{
        width: 80%;
    }   
    .image2{
        width: 120%;
    }

    /* text */
    .text{
    text-align: left;
    color: #000;
    font-family: 'dekko';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .text2{
    text-align: right;
    color:#000;
    font-family: 'creepster';
    font-size:20px;
    font-weight: 400;
    line-height: normal;
    }

}
