body {
    background-color: #9bc6ff;
}

.container {
    position: absolute;
    width: 90%;
    height: auto;
}

.container1 {
    position: absolute;
    width: 100%;
    height: 100%;
}


.cursor {
    z-index: 100;
    position: absolute;
    width: 100px; 
    pointer-events: none;
}


/* text settings */
.title-text{
    text-align: left;
    color: #000;
    font-family: 'dekko';
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.text{
    text-align: left;
    color: #000;
    font-family: 'dekko';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2{
    text-align: right;
    color: #000;
    font-family: 'dekko';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textposition{
    position: relative;
    top: 5px;
    left:40px;
    margin-left:0px;
}

.textposition2{
    position: relative;
    top: 5px;
    right: 40px;
    margin-left:0px;
}

/* image settings */
.image{
    display: block;
    width: 35%;
    border-radius: 5px;
}



/* image position */
.imageposition{
    position: relative;
    top: 120px;
    left:40px;
    margin-left:0px;
    margin-right:0px;
}
.imageposition2{
    position: relative;
    top: 0px;
    left:630px;
    margin-left:0px;
    margin-right:0px;
}

/* back to home button */
.home-image{
    width: 7%;
}

.homeposition{
    position: relative;
    top: -20px;
    left: 0px;
    margin-right:10px;
    margin-left:15px;
}


@media screen and (max-width: 800px) {


    /* back to home button image size */
.home-image{
    width: 13%;
}

/* image position */
.imageposition{
    position: relative;
    top: 120px;
    left:40px;
    margin-left:0px;
    margin-right:0px;
}
.imageposition2{
    position: relative;
    top: 0px;
    left:300px;
    margin-left:0px;
    margin-right:0px;
}

/* text settings */
.title-text{
    text-align: left;
    color: #000;
    font-family: 'dekko';
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.text{
    text-align: left;
    color: #000;
    font-family: 'dekko';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2{
    text-align: right;
    color: #000;
    font-family: 'dekko';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cursor {
    z-index: 100;
    position: absolute;
    width: 80px; 
    pointer-events: none;
}

}